<!DOCTYPE html>
<html>
<head>
  <title>Quoteshare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#"> Quoteshare </a>
			</div>
		</div>
		
	</div>		

<div class="container-fluid">
		<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
		<%= yield %>
	</div>

</body>
</html>
